@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}

* {
  font-family: "Montserrat";
  color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo-main {
  width: 100px;
  height: 100%;
}
.logo-main img {
  width: 100%;
  height: 100%;
  height: auto;
}

.navi {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.left-navi {
  margin-top: 20px;
  margin-left: 20px;
}
.right-navi {
  margin-top: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.main-page.btn {
  border-bottom: 4px solid #ccc;
  padding: 10px;
  /* border-radius: 10px; */
}
.main-page.btn:hover {
  border-color: #333;
  transition: border-color 0.3s;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.cloud-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.cloud {
  padding: 50px;
  width: 500px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cloud1 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
}

.cloud2 {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: end;
}

.cloud3 {
  grid-area: 3 / 1 / 4 / 4;
  justify-self: center;
}

.cloud4 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: start;
}

.cloud5 {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: start;
}
.cloud1:hover,
.cloud2:hover {
  box-shadow: -8px 8px 24px 0px rgba(46, 46, 47, 1);
}

.cloud3:hover {
  box-shadow: 0px 8px 24px 0px rgba(46, 46, 47, 1);
}
.cloud4:hover,
.cloud5:hover {
  box-shadow: 8px 8px 24px 0px rgba(46, 46, 47, 1);
}

.icon {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #ccc;
}

.right-foot a {
  margin-right: 30px;
}

.right-foot img {
  width: 34px;
  height: 34px;
}

.left-foot {
  font-size: 20px;
  font-weight: bold;
}

.popup-container {
  width: 100%;
  max-width: 500px;
  padding: 60px;
  background: white;
  z-index: 2;
  border: 3px #ccc solid;
  box-shadow: 8px 8px 24px 0px rgba(46, 46, 47, 1);
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  display: none;
}
.popup-container.active {
  display: flex;
}

.popup-container > .login {
  display: none;
  flex-direction: column;
  align-items: center;
}
.popup-container > .login.active {
  display: flex;
}
.login > .error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}
.login > .error-msg.show {
  visibility: visible;
}

.login input,
.password input,
.register input {
  width: 100%;
  align-items: center;
  margin: auto;
  padding: 15px;
  margin: 10px 0;
  background-color: #ccc;
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 20px;
}

button {
  width: 200px;
  padding: 10px;
  background-color: #ccc;
  margin: 20px 0;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

button:hover {
  background-color: grey;
}

.hide-content {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  background-color: #333;
  opacity: 0.5;
}
.hide-content.active {
  display: block;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  width: 50px;
  height: 50px;
}

/* REGISTRY */
.register-container {
  width: 100%;
  max-width: 500px;
  padding: 60px;
  background: white;
  z-index: 2;
  border: 3px #ccc solid;
  box-shadow: 8px 8px 24px 0px rgba(46, 46, 47, 1);
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  display: none;
}

.popup-container.active {
  display: flex;
}

.popup-container > .register {
  display: none;
  flex-direction: column;
  align-items: center;
}
.popup-container > .register.active {
  display: flex;
}
.register > .error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}
.register .form-box {
  width: 100%;
  margin-bottom: 15px;
}

.form-box .error-text {
  margin: 5px 0 0 10px;
  font-size: 14px;
  color: rgb(0, 137, 250);
  visibility: hidden;
}
.form-box.error .error-text {
  visibility: visible;
}
.popup-showToast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid black;
  transition: top 0.5s;
}

.popup-showToast p {
  font-size: 20px;
}

.popup-showToast .close-Toast {
  margin-top: 20px;
}

.show-popup {
  top: 150px;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  display: flex;
}
.toast.active {
  transform: translateX(0%);
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
.message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
.progress.active:before {
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}

.toast.active ~ button {
  pointer-events: none;
}
